[2018-02-24 22:15] benjaoming opened #2 "Document how to find log files"
Ref: https://github.com/learningequality/kolibri/issues/2512

Means we can also amend the issue template regarding where to find the logs.

[2018-02-24 22:29] benjaoming opened #3 "Travis configuration"
1. Checks that docs can be built
1. Must fail if there are warnings
1. link-check?

[2018-03-30 14:20] benjaoming commented on #3
Fixed in #10

[2018-03-30 14:20] #3 closed, assigned to nobody

[2018-04-07 20:03] indirectlylit opened #15 "installation instructions and requirements are confusing/misleading"
There are a few things that are confusing:

1. PEX is framed as just a mac installation method. However it also works on linux.
2. PIP is framed as an 'advanced' installation method and contains the phrase "Once Kolibri is released". There's no indication that it works on Mac, Windows, and Linux
3. The linux system requirements are very confusing
   * There are three independent-looking items, Ubu

[2018-04-07 20:06] radinamatic commented on #15
Good points @indirectlylit, I'll think about best way to rework the system requirements and installation pages for Linux and Mac.

[2018-04-24 22:01] indirectlylit opened #17 "travis warnings might not be reproducible locally?"
An earlier version of #16 had some travis errors: https://github.com/learningequality/kolibri-docs/pull/16#issuecomment-383793642

However @radinamatic had difficulty reproducing locally:

![image](https://user-images.githubusercontent.com/2367265/39216371-3d480aa0-47d0-11e8-800d-fce25ccc882d.png)

This issue is a placeholder to look into this, and if necessary document how to get errors & warning

[2018-04-27 23:45] indirectlylit opened #19 "duplicate configuration files"
I see two copies of a few files:

* Makefile [1](https://github.com/learningequality/kolibri-docs/blob/develop/Makefile) [2](https://github.com/learningequality/kolibri-docs/blob/develop/docs/Makefile)
* conf.py [1](https://github.com/learningequality/kolibri-docs/blob/develop/conf.py) [2](https://github.com/learningequality/kolibri-docs/blob/develop/docs/conf.py)
* crowdin.yaml [1](https://github

[2018-05-08 11:43] cts-prog3 opened #20 "Import Content Not working"
I have installed Kolibri locally on a Windows 7 desktop with internet connection.  When I try to import content it shows a list of 22 channels but when I choose Khan Academy it just says "Generating channel listing. This could take a few minutes…" and has been for a few hours now.  Any ideas on how to import Khan Academy?

[2018-05-08 15:50] indirectlylit commented on #20
Hi, thanks for trying Kolibri!

Generating the channel listing should not take hours, even for Khan Academy which is a very, very large channel.

* What version of Kolibri are you using?
* Do you see any errors in any log files in `C:/Users/<your_username>/.kolibri/`?

----

FYI, you can ask support questions in our community forums here: http://community.learningequality.org/

[2018-05-08 15:50] #20 closed, assigned to nobody

[2018-05-08 21:35] benjaoming commented on #19
@indirectlylit the `Makefile` is different, the two others are indeed a mistake, thanks for spotting!

[2018-05-08 21:38] benjaoming commented on #15
Fixed in #16

[2018-05-08 21:38] #15 closed, assigned to nobody

[2018-05-08 21:39] benjaoming commented on #17
@radinamatic how do you build docs? `make docs` ?

[2018-05-09 16:34] rtibbles opened #22 "Document options.ini usage"
For advanced users, we should document how to use the options.ini file for Kolibri.

The exact form this documentation should take is unclear, as it may depend on how we end up deciding to template the options.ini file.

Ref: https://github.com/learningequality/kolibri/pull/3607

[2018-05-10 00:39] #19 closed, assigned to nobody

[2018-05-10 11:12] cts-prog3 commented on #20
Now it seems to be working.  Any plan on adding more Khan Academy content in the future?

[2018-05-10 15:54] indirectlylit commented on #20
Glad to hear!

I'd recommend asking that question in the [Content and Materials](http://community.learningequality.org/c/content-materials) section of the community forums

[2018-05-23 16:01] radinamatic opened #23 "Improve the PDF output from ReadTheDocs platform"
Current [default PDF output from the RTD](https://media.readthedocs.org/pdf/kolibri/latest/kolibri.pdf) version of the docs is not optimal and it can use several improvements.

- better text & page formatting
- consistency in image sizes
- accessibility

[2018-05-23 16:15] ivanistheone commented on #23
Let me know if I can help with something on that front. I've got 10+ years experience with LaTeX ;)

[2018-05-23 16:17] radinamatic commented on #23
That would be awesome, thanks @ivanistheone! :pray:

[2018-05-25 16:22] indirectlylit opened #24 "tip in content management section is phrased oddly"
![image](https://user-images.githubusercontent.com/2367265/40555133-f98cbd7a-5ffc-11e8-99de-972e2ae68d44.png)

The parenthetic phrase "navigate away or manage users" sounds self-contradictory.

Maybe it should be "view learner content or manage users"?

[2018-05-25 16:28] radinamatic commented on #24
Agreed, it could be formulated better! :+1:
I'm in the middle of another small improvement, will include this too!

[2018-05-25 21:34] indirectlylit commented on #24
thank you!

[2018-05-25 21:34] #24 closed, assigned to radinamatic

[2018-05-31 03:27] indirectlylit opened #26 "clarify that command-line import requires a channel ID, not token"
Users might try and import a channel via the command line by token. Until we can address https://github.com/learningequality/kolibri/issues/3733 let's clarify the documentation that a channel ID must be passed, and describe where this ID might come from.

This was made more confusing because of this warning:

![image](https://user-images.githubusercontent.com/2367265/40759641-d8e7ce9e-6447-11e8-8a

[2018-05-31 03:28] indirectlylit commented on #26
cc @radinamatic

[2018-06-01 22:45] radinamatic commented on #2
Old issue, but this seems to be documented here:

https://kolibri.readthedocs.io/en/latest/manage.html#locate-kolibri-log-files

[2018-06-01 22:51] #2 closed, assigned to nobody

[2018-06-02 00:12] indirectlylit opened #29 "in case of reports, add note about malformed databases"
If users contact us with reports of malformed DBs, let's add a note somewhere that if someone sees this uncommon error, they should contact us on the forums for help recovering their data:

[code]

[2018-06-02 12:48] radinamatic commented on #17
I run `sphinx-autobuild` command from the `docs` folder, so it updates on every change.

Anyways, I can at least see *some* errors locally, so not sure if the issue has been resolved in the meantime...

[2018-06-02 13:18] radinamatic commented on #22
Lot of stuff in the original PR... 🤔

If this is something that should go into the [0.10 docs update](https://github.com/learningequality/kolibri-docs/pull/28), I would need a list of high level commands and options to test first, in order to write proper instructions.

Working with command line is "buried" at the [end of the `Manage` chapter of the user docs](http://kolibri.readthedocs.io/en/late

[2018-06-02 15:36] benjaoming commented on #29
@indirectlylit this already fires if you run Kolibri with a malformed DB:

[code]

[2018-06-02 15:40] benjaoming commented on #17
It's best to run the same commands as Travis, `make docs` will build on a cleaned base, while `sphinx-autobuild` could theoretically do something causing warnings on top of an unclean build.

Let's close it -- reopen again with specific warning messages uncaught, then we can look into it :)

[2018-06-02 15:40] #17 closed, assigned to nobody

[2018-06-02 15:45] radinamatic commented on #17
Noted, I will run a `make docs` prior to committing! 👍

[2018-06-02 15:53] benjaoming commented on #29
Thanks for pinning this - I guess let's leave this issue open, and if we don't hear any user-related issues about malformed dbs in the next months time, we can close this issue... and suspect that the CLI error message was sufficient or people don't have malformed dbs :)

[2018-06-02 20:25] indirectlylit commented on #22
I don't think it's critical to document it immediately (for 0.10.0). Initially it's going to be helpful for internal use and and in close collaboration with partners. We can take some time making sure that the public documentation is clear and best practices are laid out.

[2018-06-02 20:29] radinamatic commented on #22
Ok, if it's for internal use for starters, maybe it could go to developer docs at the beginning, and I can make a user doc version afterwards?

[2018-06-02 20:54] indirectlylit commented on #22
That sounds like the right move to me.

Related: in https://github.com/learningequality/kolibri/pull/3736 @jredrejo added a bunch of new options. It's not totally clear to me that we _want_ this many options, or if we do have them, that we'd want them all to be officially-supported. I think we may need a way to distinguish stable, supported options from internal, experimental ones

[2018-06-02 20:59] indirectlylit commented on #29
Ah, I misunderstood what you wanted when you said

I'll rename the issue

[2018-06-02 21:54] radinamatic commented on #29
So the workaround steps for malformed database that need to be documented are the one from above output?
[code]

What if user does not have the `sqlite3` command available? Did someone manage to malform the db on a Windows system?

I'm not sure I like the idea of a `Known issues` chapter just for this... Let's leave aside the custom to put "known" issues in the release notes, working under the ass

[2018-06-03 02:41] #29 closed, assigned to nobody

[2018-06-04 14:27] benjaoming commented on #29
I don't know, I also don't have any recipe for Windows at hand. That's why I didn't write anything about how to install it.

It's very normal to have such areas of documentation and release notes. At best, people read it before asking questions, at worst, it just means that we can easily refer to answers.

[2018-06-04 14:32] benjaoming commented on #22
Yes, these options added are valuable, because advanced users need a way to tweak Kolibri to perform better according to the hardware they have, or the system resources needed to be freed for other running processes.

The steps ahead are more about creating a UI (control panel for these).

I made a comment in the PR about the .ini section -- maybe that's a good place to be aware and manage the thr

[2018-06-04 14:48] radinamatic commented on #17
Example of error not caught by `sphinx-autobuild`, only `make docs`:

![screenshot - 04-jun-18 4_32_00 pm](https://user-images.githubusercontent.com/1457929/40924260-15de062e-6817-11e8-8046-80722cf0bdda.png)

[code]

[2018-06-04 16:21] benjaoming commented on #17
@radinamatic yes, is there a way to have this `Warning, treated as error` enabled for autodocs? Maybe there are some docs about that :smile:

[2018-06-04 22:40] radinamatic commented on #17
There probably are, will investigate! 😉

[2018-06-04 22:41] radinamatic commented on #29
Added as the *[DB troubleshooting](https://github.com/learningequality/kolibri-docs/pull/28/commits/88e4599a02894ff3286a75ce141978c6dd8d17e3)* section! 👍

[2018-06-11 01:58] indirectlylit opened #30 "add a 'Server URL' sub-heading to 'Access Kolibri' section"
Currently, information about finding the URL (IP+ port) of the server is under the _[Compatibility](https://github.com/learningequality/kolibri-docs/blob/develop/docs/access.rst#compatibility)_ section of _[Accessing Kolibri from Other Devices in the Network](https://github.com/learningequality/kolibri-docs/blob/develop/docs/access.rst#accessing-kolibri-from-other-devices-in-the-network)_

Recomme

[2018-07-02 16:26] indirectlylit opened #31 "research possible additions to FAQ, and audit existing"
We should research if there are additional tips that might help end-users set up and use Kolibri. We should also audit the existing questions to ensure they actually belong.

For example, [see suggestions here](https://github.com/learningequality/kolibri-installer-debian/pull/43#issuecomment-401443285) related to USB issues like:

- Write mode
- Inconsistent or broken devices
- Inconsistent or bro

[2018-07-03 15:24] benjaoming commented on #31
Copying in my FAQ suggestion...

## Problems importing and exporting with USB devices

Kolibri needs read and write access to your USB devices.

**User account access:** Running Kolibri from a normal desktop instance of your operating system is safe, but if you have either: 1) Installed Kolibri in your own environment running as a non-desktop user (for instance UWSGI) or b) you have upgraded Kolib

[2018-07-04 00:22] radinamatic commented on #31
Added to the 0.10 docs updates, alongside other *troubleshoot* recommendations:

https://github.com/learningequality/kolibri-docs/pull/28/files#diff-5f783e99ad465665334f124ff64d1627R81

[2018-07-04 17:43] indirectlylit commented on #31
good solution, thanks

[2018-07-04 17:43] #31 closed, assigned to nobody

[2018-07-09 20:47] #26 closed, assigned to nobody

[2018-07-09 22:04] indirectlylit opened #33 "raspberry pi instructions outdated"
* [x] still references the `kolibri` user: https://github.com/learningequality/kolibri-docs/pull/32/files#diff-d3596120b107503957511384889d9a08R40

cc @benjaoming @radinamatic

* [x] Also, we now have the 'change content directory' command. We should probably update the instructions to use that?

[2018-07-09 22:26] indirectlylit commented on #33
Also, this line is no longer true:

[2018-07-09 22:27] benjaoming commented on #33
True that! Thanks for finding this!

[2018-07-09 22:31] radinamatic commented on #33
Yes, the latest RPi improvements were added *after* we reviewed the RPi docs section last week... 🤦‍♀️

[2018-07-09 23:30] indirectlylit commented on #33
the inexorable march of progress!

[2018-07-11 00:32] indirectlylit commented on #33
While doing some basic rpi load testing today, we noticed that loading of exercises was slow.

As @jamalex said:

Also from @rtibbles:

Sounds like it would be smart to include nginx instructions for rpi

[2018-07-11 14:42] benjaoming commented on #33
@indirectlylit this will be handled in a separate Debian package, AFAIK. Putting effort into making people do this through their own configurations would be a very temporary solution and would require to somehow tell people to revert those changes once that package arrives.

[2018-07-11 20:58] indirectlylit commented on #33
That's fair. Then maybe we should just add a note for advanced users? E.g. something like:

[2018-07-12 10:32] benjaoming commented on #33
That's a good note - will include that :)

[2018-07-17 17:26] indirectlylit commented on #33
Another recommendation reported here: https://github.com/learningequality/kolibri/issues/4040

When pip-installing on a Pi, use `--no-cache-dir` to prevent `MemoryError`s

[2018-08-10 13:58] benjaoming opened #36 "Shorten list of languages"
1. Fetching from CrowdIn is slow
1. Building on CrowdIn is slow
1. Understanding which languages are available is slow

Suggesting to only have Spanish, Filipino and Portuguese up, as they are the only ones that had work done.

Then add languages "by demand"... not even popular demand. Just that anyone can request a language.

[2018-09-01 17:31] benjaoming opened #45 "Header anchor IDs should be semantic and suitable for permalinks"
For instance: `https://kolibri.readthedocs.io/en/latest/install.html#id8`

In this example, `#id8` is enumerated, and adding another heading before will change it into `#id9`, thus breaking outside references.

If it's offered by Sphinx, we should find a way to change these links so that they are permanent. Otherwise a lot of references from Community support etc. will be broken.

If this doesn't

[2018-09-04 15:43] indirectlylit commented on #45
sorry, could you clarify what the expected behavior is?

[2018-09-04 18:16] benjaoming commented on #45
Yup @indirectlylit, updated the description

[2018-09-04 23:36] indirectlylit commented on #45
Got it - thanks. Agreed, the ID should be derived from the header text

[2018-09-07 01:06] radinamatic commented on #45
I believe it's happening because the page contains multiple 3rd level headings with the same name: Compatibility, Install, Uninstall, Upgrade. When a heading/subheading cannot be uniquely resolved as `page.html#heading`, it defaults to resolving as a numbered `id` one.

I've been researching solutions, but there does not seem to be a suitable one. I could try to create a more explicit header links

[2018-09-07 15:20] benjaoming commented on #45
@radinamatic thanks for investigating - yup, let's not compromise the wording of the headers themselves :)

[2018-09-10 13:23] benjaoming opened #46 "Translated figures (screenshots) not showing"
I think we need to consolidate the configuration with the documentation for `figure_language_filename`:

http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-figure_language_filename

[2018-09-10 13:25] benjaoming commented on #36
This is done!

Project description text has this at the bottom:

[2018-09-10 13:25] #36 closed, assigned to nobody

[2018-09-11 22:22] indirectlylit opened #48 "clarify and improve availability of older installer versions"
Migrated from https://github.com/learningequality/kolibri/issues/4208

-----

Current state:

* In http://kolibri.readthedocs.io/, we intentionally allow people to view docs for older versions
* If someone intentionally navigates to an older version and tries to download an installer, they are redirected to the most recent version
  * On one hand, this is good because it encourages users to upgrad

[2018-09-13 13:39] benjaoming commented on #46
Fixed in #47

[2018-09-13 13:39] #46 closed, assigned to nobody

[2018-09-18 14:48] benjaoming commented on #33
Needed for clarification and explicity in docs: We should do everything according to the packages on Raspbian Jessie/Stretch **Lite**.

Raspbian Jessie vs Raspbian Stretch should be totally explicit, if the instructions are not overlapping.

Jessie Lite observations -- these are necessary in addition to current instructions:

 * `apt install python3-pip` is necessary
 * `apt install python3-pkg-re

[2018-09-22 13:24] benjaoming commented on #33
Further notes:

 * Let's move the `cffi` installation as a prerequisite, it's strange to have this "after installation, Kolibri will not start..."
 * Raspberry Pi drive I/O is slow and USB ports are 2.0. Often, the SD card reader has speeds around 30-80 MB/sec, the USB interface reaches comparable speeds. I think it's worth mentioning somewhere. Maybe we should kick off a background section with s

[2018-10-04 02:28] indirectlylit commented on #33
Another important issue:

 * [x] The docs still say that in the case of running out of space, you should set up symbolic links between your Kolibri home folder and an external drive.

This is [causing confusion](https://github.com/learningequality/kolibri/issues/4227#issuecomment-426831343) because it contradicts our guidance to use the new `content movedirectory` command for this purpose.

[2018-10-05 10:27] benjaoming commented on #33
Good point, I'll make sure that `kolibri manage content movedirectory` is mentioned firstly.

[2018-10-12 16:16] benjaoming commented on #33
All feedback from this issue addressed in #51

[2018-10-12 16:16] #33 closed, assigned to benjaoming

[2018-10-12 16:45] benjaoming commented on #48
I agree. It cannot be a question of *if* users can land on out-dated documentation because of search engines or links from other sites.. it must be a question of *how many*.

Suggested fix:

1. Do not refer directly to the latest installer. Instead, refer to the download page. New installer types appear.
2. Display the Kolibri version on all the installation instruction pages.

All fixes would ben

[2018-10-20 13:45] benjaoming opened #53 "Add spellcheck to CI"
Seems really easy:

Install it, configure two params, maintain a word list.

https://github.com/wagtail/wagtail/blob/9afcd1a8be0d1538dfdcfdf5af277c50d57d7044/docs/conf.py#L126-L127

[2018-10-20 13:51] benjaoming commented on #48
Suggesting that we use what RTD offers:

![image](https://user-images.githubusercontent.com/374612/47256331-b3a98800-d47e-11e8-9d94-fd1fc4c31d52.png)

The requirement is that we start tagging the documentation using git tags. ReadTheDocs will automatically add the notification for people browsing old tags.

The disadvantage is that Kolibri is called a "library" in the notification, but we could pr

[2018-10-27 03:03] radinamatic commented on #30
@indirectlylit

The sub-section heading [Setup Access on Other Devices](https://kolibri.readthedocs.io/en/latest/access.html#setup-access-on-other-devices) covers the topic of finding the server URL, and it _is_ at the same level as _Compatibility_.

Do you suggest to change the heading from _Setup Access on Other Devices_ to _Server URL_? I don't have strong opinions, and can make the change if y

[2018-10-28 01:09] indirectlylit commented on #30
It looks like you added the 'Setup Access on Other Devices' header 12 days after I filed this issue in a5f18149caaa06fa8e4dda17b4d5b08e925cdab0 :)

looks good to me!

[2018-10-28 01:09] #30 closed, assigned to radinamatic

[2018-10-28 01:11] radinamatic commented on #30
My bad then for not closing the issue back than... :woman_facepalming:

[2018-10-28 01:12] indirectlylit commented on #30
it may have been a coincidence!

[2018-10-28 01:16] indirectlylit opened #55 "audit usage of 'setup' vs 'set up'"
e.g. "Check your setup for issues" (noun) vs "Set up the account" (verb)

[2018-10-28 01:17] indirectlylit commented on #30
filed a related issue on 'setup' vs 'set up' - #55

[2018-10-28 01:20] radinamatic commented on #55
Good point, easy to be inconsistent. :+1:
Will search for coincidences across all files!

[2018-10-28 13:16] benjaoming opened #56 "Very light custom styling"
With inspiration from here, we can tweak the theme a little bit with LE/Kolibri colors using simple CSS.

`https://github.com/wagtail/wagtail/issues/4081`

[2018-10-28 13:17] benjaoming commented on #48
@radinamatic @indirectlylit any comments here?

You can refer to the Wagtail docs for a look at how this ends up... https://docs.wagtail.io/en/latest/

[2018-10-28 18:00] radinamatic commented on #56
I've already added more small changes in the CSS in my [latest update PR](https://github.com/learningequality/kolibri-docs/pull/54/files#diff-5d671d7742518690c10c7922399b60ab), we could build up on that!

[2018-10-29 04:33] radinamatic commented on #56
This would be the test of using the Kolibri logo blue (#00AEF0), instead of the default RTD one:

![ledev18aut start running - oracle vm virtualbox_113](https://user-images.githubusercontent.com/1457929/47629564-16b0b400-db3c-11e8-93ee-89e2474fa6a1.png)

![ledev18aut start running - oracle vm virtualbox_112](https://user-images.githubusercontent.com/1457929/47629531-eec15080-db3b-11e8-82f1-90a7f5f

[2018-10-29 04:55] radinamatic commented on #48
Sounds like a good idea to me, but I don't like the idea of introducing the concept of `library`... We already have the potential uncertainty among the users created by the terms `app` vs. `server` when it comes to Kolibri, and putting the "library" in the mix may make the matters worse.  Specially since "library" is often used in describing content on Studio... :confused:

I would prefer we put t

[2018-10-29 10:34] radinamatic commented on #56
I thought the Kolibri purple would be too dark, but it actually looks quite nice :heart:

![ledev18aut start running - oracle vm virtualbox_116](https://user-images.githubusercontent.com/1457929/47644469-82137980-db6e-11e8-8248-3635b0b37c2d.png)

cc @indirectlylit @jtamiace @khangmach

[2018-10-29 10:48] benjaoming commented on #56
Yup, I think we should go with that @radinamatic - thanks for trying it out!

It gives the documentation its own touch, while not being a super-complicated theming maneuver.

The Kolibri blue conflicted with remaining theme's blue color, so would require more adjustments.

[2018-10-29 11:29] benjaoming commented on #48
I think it's okay to compromise because it's an upstream issue (that I will work to have resolved). And the box will appear to guide people in a situation where "no box" is worse than "a box that says 'library'" :)

Radina, I will try to get the upstream change through, and we can decide based upon how long that takes...

[2018-10-29 15:16] indirectlylit commented on #48
Regarding possible text for their box, they could change it to reference the docs rather than the software. For example:

[2018-10-29 16:06] benjaoming commented on #48
@indirectlylit yup, brilliant, and I already made the text say that like at the same time as your comment. I guess the intergalactic mental unification waves are playing with us :)

[2018-10-29 16:25] benjaoming commented on #48
Here's btw a nice few words on versioning and RTD: https://docs.readthedocs.io/en/latest/versions.html#how-we-envision-versions-working

[2018-10-31 21:40] benjaoming commented on #48
Upstream PR: https://github.com/rtfd/readthedocs.org/pull/4842

[2018-11-01 15:11] benjaoming commented on #48
The upstream PR is merged, I'll check back periodically to see if it's been deployed...

[2018-11-01 17:11] indirectlylit commented on #48
great!

[2018-11-08 01:49] #56 closed, assigned to nobody

[2018-11-20 17:41] indirectlylit opened #57 "add information about channel versions and updating"
The [manage content](https://kolibri.readthedocs.io/en/latest/manage.html#manage-content) docs currently describe how to import new content from an existing channel, but don't describe how to update the version of existing content.

It's a slightly subtle difference, and we had a [question about how to do it in the forums](http://community.learningequality.org/t/missing-images-graphs-questions/911

[2018-11-20 17:57] ivanistheone commented on #57
Related video tutorial on this topic from the "Everything about Kolibri" channel:
http://35.196.115.213/learn/#/topics/c/7916afd91c60593eb2dc383b338df42f

[2018-11-29 13:12] benjaoming opened #58 "Add a note about ChromeOS"
Perhaps change the PPA instructions to recommend using a different method (RPi) for ChromeOS.

[2018-11-29 16:20] jredrejo commented on #58
I think the PPA finally worked after installing gpg in the Chromebook. The problem now is that the chromebook is firewalling the Linux services.
Using RPi instructions will face the same problem.

[2018-11-29 16:36] benjaoming commented on #58
Oh yeah, didn't see that the poster [in forums](http://community.learningequality.org/t/apt-get-install-on-chomebook-linux/917/7) actually made it work

Maybe it's a bit beyond our scope to write docs about firmware modifications om Chromebooks :)

[2018-11-29 16:36] #58 closed, assigned to benjaoming

[2019-01-21 00:27] ivanistheone opened #60 "Separate instructions for Debian"
Installing from .deb from the PPA on Debian requires roughly the following instructions on Debian 9:

[code]

Since instructions are sufficiently different from the default Ubuntu install steps, it might be worth having the separate section for Debain install instructions to guarantee optimal copy-and-pastability for successful install.

[2019-01-21 07:33] radinamatic commented on #60
Sure thing @ivanistheone, will add it to the Linux installation chapter! :+1:

[2019-01-21 08:36] jredrejo commented on #60
@ivanistheone @radinamatic These are alternative instructions
1. download Kolibri deb package
2. In the folder where kolibri has been downloaded `sudo dpkg -i kolibri-*deb`

Both are valid, but I am not sure which one is better for the user. @ivanistheone  steps would allow an easier upgrade path later just doing `apt-get update & apt-get install kolibri` but require more steps. I leave on you to

[2019-01-21 10:47] benjaoming commented on #60
For a quick fix, let's rename the sections:

"Debian / Ubuntu" => "Ubuntu"
"Raspberry Pi" => "Raspberry Pi / Debian"

[2019-01-21 10:48] benjaoming commented on #60
@jredrejo is this input based on our current documentation? This method is already documented, even the discussion of pros/cons are already there:

![image](https://user-images.githubusercontent.com/374612/51469771-6802c500-1d72-11e9-907f-4999affc3925.png)

[2019-01-21 18:47] jredrejo commented on #60
@benjaoming no, sorry. I am afraid I answered only based on the feedback Ivan provided. I didn't look at the current docs.

[2019-02-17 21:58] benjaoming opened #66 "Fix up basic command line instructions"
Proposing to improve the guide for users to use the command line...

1. It shouldn't be a Warning box
1. Clarify Windows instructions more, perhaps with a screenshot or using the `WIN+R` shotcut.. I think this part is very hard to understand, also it assumes drive letter `C:`.

1. I don't think that `python kolibri start` works on MacOS, but maybe `python -m kolibri start` will? It also lacks an i

[2019-02-19 06:33] radinamatic commented on #66
1. While technically *not* a warning, a `Note` box did not seem incisive enough to me. If you have an alternative, I'll be happy to hear!

2.   `screenshot or using the WIN+R shortcut` - Good suggestion, will be added!

3. Noted, will correct!

4. Not sure why you are suggesting to eliminate these completely. Some users still need to use PEX, and if they need to use any of the commands in question

[2019-02-20 14:45] indirectlylit commented on #66
couple ideas, feel free to take or leave:

.1. Perhaps just make it a new sub-section, sibling of "Start/Stop Kolibri"? Could call it "Tips for Working from the Command Line" or something

.5. The warning seems reasonable to me but there seems to be an extraneous asterisk: ![image](https://user-images.githubusercontent.com/2367265/53099544-defabd00-34da-11e9-9548-af4bee297d48.png)

[2019-03-12 01:05] benjaoming opened #68 "Add Kolibri version as a substitution string and replace all hard-coded versions"
There are many mentionings of versions. Both in links and instructions and file name examples. We can deal with these in various appropriate ways. Hard-coding isn't banned as such, just nice to avoid.

[2019-03-12 18:13] #66 closed, assigned to nobody

[2019-03-25 20:54] indirectlylit opened #72 "ubuntu instructions say that python 3.7+ is not supported"
https://kolibri.readthedocs.io/en/latest/install.html#id3

![image](https://user-images.githubusercontent.com/2367265/54953381-57530480-4f05-11e9-8871-da913660734a.png)

Python 3.7 support was added in https://github.com/learningequality/kolibri-installer-debian/pull/55

----

cc @radinamatic

[2019-03-26 22:08] radinamatic commented on #72
Gotcha, will correct this week! 👍

[2019-04-03 01:59] radinamatic commented on #72
Fixed in #73

[2019-04-03 01:59] #72 closed, assigned to nobody

[2019-04-03 02:03] radinamatic commented on #22
This has been documented since release 0.11:

https://kolibri.readthedocs.io/en/latest/manage.html#customize-kolibri-settings-with-the-options-ini-file

Please open new issues for additional options to include.

[2019-04-03 02:03] #22 closed, assigned to benjaoming, jamalex, radinamatic

[2019-04-07 02:47] arky opened #79 "[Docs] Kolibri Server Configuration"
Please kindly add some documentation on settings of your kolibri server package using the various configuration files in /etc/default /etc/kolibri etc.

This information is useful for installations on Gnu/Linux distributions and also on ARM based devices like Raspberry Pi.

[2019-04-08 03:51] radinamatic commented on #79
Hi @arky!

Thank you for testing Kolibri and `kolibri-server`! Early tester's contributions like yours are very much appreciated and can help us catch issues and fine-tune the performance.

`kolibri-server` package is still in development, and has not yet been formally released. At the time we finally program its release, we will certainly add all the necessary documentation, so the users are awar

[2019-04-08 04:31] arky opened #80 "Recommend Simpler Captive Portal default domain 'kolibri.library'"
In my deployment I found that typing 'http://kolibri.library' was too long and difficult for non-native speakers on tiny mobile keyboards. I reverted to using simpler 'http://box/' 'http://box.lan' naming scheme for my Kolibri deployments.

This is much easier for our users. Both 'Kolibri' and 'library' have prone to mis-spellings. Also OpenWRT by default recommends using '.lan' domain for its loc

[2019-04-08 14:29] indirectlylit commented on #80
thanks for the note!

@radinamatic @jredrejo customizing the host name was mentioned in the raspberry pi page: https://kolibri.readthedocs.io/en/latest/install/tutorials/rpi.html#installing-kolibri

[2019-04-20 22:37] indirectlylit opened #82 "Update docs to reflect new Coach workflows"
refs: https://github.com/learningequality/kolibri/pull/5383

[2019-04-29 15:32] jeepurs opened #83 "Link shows 404"
`https://github.com/learningequality/kolibri/blob/develop/CHANGELOG.rst` currently shows a 404 -- this link is provided in the RTD documentation.

![image](https://user-images.githubusercontent.com/5150483/56907683-a1299000-6a59-11e9-8b0c-9cc3a3e6764e.png)

[2019-04-29 15:33] jeepurs commented on #83
`https://github.com/learningequality/kolibri-docs/blob/origin/release-v0.12.x/docs/index.rst` also shows a 404.  This is linked in the top right corner:
![image](https://user-images.githubusercontent.com/5150483/56907593-70495b00-6a59-11e9-8771-fc620df4f1b2.png)

[2019-04-29 19:43] jonboiser commented on #83
The .rst version of the changelog does not appear to be in the repository anymore.

We should have the link point to the .md version.

[2019-04-29 20:09] radinamatic commented on #83
Thanks for investigating @jonboiser, will correct asap!

[2019-05-01 20:03] indirectlylit opened #85 "user confused by command line instructions"
In the instructions, we say

One user thought they were supposed to keep the `<` `>` and tried

[code]

[2019-05-01 20:04] indirectlylit commented on #85
cc @radinamatic

[2019-05-01 20:15] rtibbles commented on #85
Also, the fact that the file paths are different for each command, when they should in fact be the same to export one channel to the same location is a bit confusing.

[2019-05-01 21:36] indirectlylit opened #86 "add dead link checker"
similar to issue in kolibri dev docs: https://github.com/learningequality/kolibri/issues/5146

[2019-05-01 21:36] indirectlylit commented on #83
ref: #86

[2019-05-04 00:40] radinamatic commented on #85
We do state the instructions at the beginning of the section:

`In the commands below, angle brackets and the text between them <...> are used to denote placeholders for you to modify. Make sure to replace them with your own information.`

I'll reformat it as a `Warning` note, to increase the chance of it to be read.

Agreed, will amend!

[2019-05-04 00:48] radinamatic commented on #86
@indirectlylit Wasn't this supposed to perform the link check?
https://github.com/learningequality/kolibri-docs/blob/develop/docs/Makefile#L158

[2019-05-04 00:59] radinamatic commented on #83
Not strictly a docs issue, as the link used on that page was pointing to a redirect  https://learningequality.org/r/kolibri-changes.

I've corrected the URL in the redirect rule, and now links from both the `latest` and the `release-v0.12.x` version of the docs are not dead anymore :slightly_smiling_face:.

[2019-05-04 00:59] #83 closed, assigned to nobody

[2019-05-04 02:36] radinamatic commented on #60
@ivanistheone @benjaoming @jredrejo Is this still extant, or can we consider it covered with the current docs?

[2019-05-04 12:19] benjaoming commented on #60
@radinamatic you will find that the former PR was merged in the 0.11 release branch which unfortunately hasn't been sync'ed forwards :/

[2019-05-06 08:30] jredrejo commented on #60
https://kolibri.readthedocs.io/en/latest/install.html#debian-ubuntu is still a mess. As @benjaoming points, the latest docs have not been synced.

https://github.com/learningequality/kolibri-docs/blob/develop/docs/install/_linux.rst is fine. I would remove `python-software-properties` because it's a dependency of `software-properties-common` so we don't need to specify it.

https://github.com/lear

[2019-05-06 08:41] radinamatic commented on #60
@jredrejo Thanks for reviewing these! :+1:

Don't worry about changes, I'll incorporate the necessary in my current PR, according to your suggestions, after we merge in the changes from the 0.11 branch

[2019-05-06 10:28] benjaoming commented on #60
@jredrejo it's worth waiting for the 0.11.x to be sync'ed into 0.12.x

I don't want to do archeology on this, but there was a reason why it was there, I suspect some old versions needed it. I'd just keep it since it's harmless and only for PPA purposes.

[2019-05-06 10:34] benjaoming commented on #60
@jredrejo re: RPi installation

I'd like to keep them RPi-specific :) As you can see from the first steps, they address the `cffi` library. Including those commands in the other steps would make those steps more messy.

I contemplate moving the Raspbian install instructions to the tutorial, such that people won't miss the context, see the current reference given here: https://kolibri.readthedocs.i

[2019-05-06 16:09] jredrejo commented on #60
I have done the archelogy:
https://packages.ubuntu.com/xenial/software-properties-common
you can see that ubuntu 16.04 includes it as a depedency. Our docs say that the instructions are for >=16.04.
I don't know if older versions of Ubuntu didn't have the dependency. Probably they haven't and that was the reason to include it in the docs, but the versions we are supporting don't need it.

[2019-05-06 16:13] benjaoming commented on #60
@jredrejo Oh `python-software-properties` is actually already removed. It's because you were looking in the `develop` which isn't updated... changes in 0.11.x haven't traversed yet. I'm working on that

[2019-05-06 16:24] jredrejo commented on #60
Honestly, I don't understand it. Raspbian is a Debian system. I have had a RPi working following the Debian instructions for months without problems . I don't understand why the instructions say to upgrade cffi if the kolibri package brings its own version and ignores the one the system uses.

About https://kolibri.readthedocs.io/en/release-v0.12.x/install/tutorials/rpi.html#installing-kolibri , I

[2019-05-06 21:14] benjaoming commented on #60
The whole thing was written before `kolibri-server` came into existence, so let's get it updated once relevant.

Note that it takes a lot of time to sit down and create and test these instructions.

You can try on a blank RPI without this instruction. It was added because it was needed.

[2019-05-06 21:15] benjaoming commented on #60
@jredrejo I don't think the scope of this issue is to generalize the RPI tutorial to all Debian-based systems ;)

[2019-05-06 21:47] indirectlylit commented on #86
yes, good find! Seems like it must not be part of our build / CI processes

[2019-05-07 01:09] radinamatic commented on #86
Well, it certainly works on `kolibri-docs` build/CI (gave me so many headaches during the first 0.12 updates PR until @benjaoming helped me figure out what I was missing  :unamused: :woman_facepalming:), so I'm going to close this issue.

I can't figure out why it isn't working on the dev docs, as the `Makefile` is virtually identical, a part from dev docs one missing the i18n options at the end..

[2019-05-07 01:09] #86 closed, assigned to nobody

[2019-05-07 06:39] jredrejo commented on #60
I am not saying it was not needed. I am saying it's not needed anymore. cffi is included in the kolibri package. Upgrading/installing it in the RPi does not produce any difference. I have tested it in a blank RPI and it works.

I don't think it's good to release obsolete instructions after a revision of the documentation.

No, it's not, but I thought that doing a proper organization of the content

[2019-05-07 11:00] benjaoming commented on #60
Weird, I have missed out on something: Where is `cffi` included? I don't find it in Kolibri itself, nor as a dependency. Raspbian used to ship with an incompatible version. I think it broke with the pre-compiled bundled cryptography, not sure.

I think it depends on whether Jessie (Lite) is supposed to be unsupported.

I'm vary of regressions because all this testing and digging around, responding

[2019-05-07 11:03] benjaoming commented on #86
I've added a weekly job on Travis CI for the `develop` branch, so we catch 404s even though we aren't opening any PRs.

[2019-05-07 14:58] jredrejo commented on #60
You can compare the output of
https://packages.debian.org/jessie/armel/python3-cffi/filelist
with the output of
`dpkg -L kolibri|grep armv|grep cffi`
on any system with the kolibri package installed

I don't know how it happened but we are clearly distributing it and kolibri is using it because I have checked kolibri is running in systems without the python3-cffi package installed (and without doi

[2019-05-07 15:40] benjaoming commented on #60
@jredrejo thanks, that might explain it! `cffi` is bundled as a dependency of `cryptography` for the available archs on PyPi -- it isn't bundled for arm* archs. I think the issue would possibly have occurred due to the availability of `cryptography` somehow on the system I've been building these docs with? Maybe the availability of various archs has been flimpsy or I've somehow managed to run into

[2019-05-07 16:32] indirectlylit commented on #86
How does that work in practice as far as notifications to the team?

Would this item have been caught? https://github.com/learningequality/kolibri-docs/issues/83

[2019-05-07 16:53] indirectlylit commented on #60
Just to clarify, is this the proposal? (I don't quite understand the 'anchor-link' phrase)

![image](https://user-images.githubusercontent.com/2367265/57317943-188c9e80-70ae-11e9-97fb-b2b3fbe23f8c.png)

If so, that seems like a good plan to me

[2019-05-07 17:44] benjaoming commented on #60
Yes @indirectlylit - read my mind :heart:

[2019-05-07 17:57] radinamatic commented on #60
Glad we have a consensus, go team! :+1:

I'll include the proposed change in my current PR. The only thing I'm unsure of is what to do with the ``cffi`` library, does it stay included as [in our current 0.12 branch](https://github.com/learningequality/kolibri-docs/blob/release-v0.12.x/docs/install/_rpi.rst)?

[2019-05-12 19:53] benjaoming opened #94 "Move RPI instructions to tutorial"
The current instructions for Debian/Ubuntu are better off if we put the RPI-specific instructions directly in the tutorial and maintain them as RPI-specific instructions.

Continuation of https://github.com/learningequality/kolibri-docs/pull/87

[2019-05-14 20:37] indirectlylit opened #95 "ensure documented android browser support is accurate"
Currently [we list Android browser support](https://kolibri.readthedocs.io/en/latest/access.html#compatibility) as being "Android 4.2+: Chrome and Firefox"

Is this accurate? At one point, I believe we were aiming to support the stock browser down to 4.0. cc @rtibbles do we have any information on whether this is still actually a requirement?

ref: renewed discussion about the use of flexbox in Ko

[2019-05-14 20:39] rtibbles commented on #95
We were aiming to support down to 4.0.4 - my instinct is that this is no longer a hard requirement, but I don't have any data to make this claim one way or another.

[2019-05-14 20:49] indirectlylit commented on #95
@mrpau-dev @radinamatic do you guys know if older stock browsers are in our integration test suite?

[2019-06-05 20:58] indirectlylit opened #98 "clarify guidance on configuring environment variables for debian installations"
migrated from https://github.com/learningequality/kolibri/issues/5556

there was confusion over how env vars should be set when Kolibri is installed to be run as a daemon on kolibri:

@nucleogenesis:

@radinamatic:

@nucleogenesis:

Let's determine and document the correct behaviors. cc @jredrejo @benjaoming

[2019-06-09 04:18] radinamatic commented on #80
Closed in #87

[2019-06-09 04:18] #80 closed, assigned to nobody

[2019-06-09 05:21] radinamatic commented on #85
Fixed in #87

[2019-06-09 05:21] #85 closed, assigned to nobody

[2019-06-09 12:35] benjaoming commented on #85
Haha yes, and I think it's reasonable to require that users actually read the instructions. Eventually placing everything in Warning box doesn't scale :smile:

I think another easy solution would be to add harmless examples. E.g.

(we can probably make better use of examples in more complex cases)

If we can stick to consistently using `<placeholder>` that's great, are there any changes here?

[2019-06-10 06:01] radinamatic commented on #85
Added some examples in the 0.12.4 update, thanks for the tip!

I believe it has been consistent so far, let me know if you find where it was missed.

[2019-06-10 08:26] radinamatic commented on #95
The oldest Android device I have to test runs the version 4.4.4, and Kolibri apparently works well in both Firefox and Chrome.

During the testing on Browserstack, I did not manage to open Kolibri in any of the emulators lower than 4.4. I'll amend the documentation to reflect this.

[2019-06-12 13:03] indirectlylit opened #100 "'default language' device setting not documented"
![image](https://user-images.githubusercontent.com/2367265/59353384-dbd94600-8cf0-11e9-9d7a-1239bf621079.png)

see thread here:
https://learningequality.slack.com/archives/CAVFL3J67/p1560318556014600

cc @radinamatic @cpauya @mrpau-julius

[2019-06-12 17:45] radinamatic commented on #100
My bad for completely forgetting about this feature... :disappointed:

However, now that I set off to finally document it, I'm unsure what new it brings compared to the language switcher in the user menu, and even how it is supposed to work...?

Feature description says `The changes you make here will affect this device only.`, and as I recall, this is meant to notify of the limitation that it wil

[2019-06-12 18:29] indirectlylit commented on #100
no worries - the label was missing from https://github.com/learningequality/kolibri/pull/5251

My understanding is that the intended behavior is that language precedence is determined by:

1. user-selected language (highest priority)
2. device setting default language

So a device admin will use this setting to set what language new users see by default when they log into a facility on this device

[2019-06-12 21:22] radinamatic commented on #100
"User-selected language" **where** exactly: browser default language...? Kolibri selected language? What counts as "selected" language: the fact that a user different from device admin opens the sign-in page (let's say admin's default is in English), and signs in without selecting any other language? Does that mean that the user "accepted" English as the (default) selected?

Still failing to under

[2019-06-17 21:26] indirectlylit opened #103 "orphan 'tutorials' link visible in TOC"
At some point recently, the orphan 'tutorials' link snuck back into the TOC:

| latest | 0.11 |
|--|--|
|![image](https://user-images.githubusercontent.com/2367265/59637720-805dec80-9124-11e9-8222-a6894acfb495.png) | ![image](https://user-images.githubusercontent.com/2367265/59637735-894ebe00-9124-11e9-9d15-770fe189f7f9.png) |

refs:

* https://github.com/learningequality/kolibri-docs/pull/52
* ht

[2019-06-17 21:27] #60 closed, assigned to benjaoming

[2019-06-17 21:27] #55 closed, assigned to nobody

[2019-06-17 21:28] #79 closed, assigned to nobody

[2019-06-17 21:31] indirectlylit commented on #48
https://github.com/rtfd/readthedocs.org/pull/4842 has been merged.

How do we enable this warning?

[2019-06-17 21:33] #82 closed, assigned to nobody

[2019-06-17 21:38] indirectlylit commented on #94
this appears to be completed

![image](https://user-images.githubusercontent.com/2367265/59638409-63c2b400-9126-11e9-9db8-3dd001df7d6a.png)

[2019-06-17 21:38] #94 closed, assigned to benjaoming

[2019-06-17 21:43] indirectlylit opened #104 "update raspberry pi tutorial to use kolibri-server package"
The [Debian/Ubuntu section](https://kolibri.readthedocs.io/en/latest/install.html#kolibri-server-pre-release) says that

However the [RPi tutorial](https://kolibri.readthedocs.io/en/latest/install/tutorials/rpi.html) contains manual NGINX configuration instructions and does not mention `kolibri-server`.

[2019-06-17 21:44] #95 closed, assigned to nobody

[2019-06-18 01:08] radinamatic commented on #103
Apparently the `:orphan:` directive you suggested was never implemented...?

Will add in the following update! :+1:

[2019-06-18 02:18] radinamatic commented on #45
Actually, I would prefer to keep this open.

I've been working, on and off, to find a solution for this, but it is a major undertaking as it would imply the restructure of the way topics are presented: instead of using the `.. include` directive, to form one long page for the first level TOC items, subtopics would be loaded as single pages and navigation would mean more clicking to <kbd>Next</kbd>

[2019-06-18 07:11] radinamatic commented on #48
Relevant setting is properly set, so not sure why the banner is not showing... @benjaoming?

![Selection_105](https://user-images.githubusercontent.com/1457929/59660437-ceb4cf00-91a8-11e9-8bd9-e52a4ca11add.png)

[2019-06-18 13:45] indirectlylit commented on #104
refs: https://github.com/learningequality/kolibri-docs/pull/52#pullrequestreview-208671830

[2019-06-18 16:51] benjaoming commented on #104
Yes, we need to change this. The tutorial was written before `kolibri-server` was made.

[2019-06-18 21:34] benjaoming commented on #48
The PR is merged and works in other projects:

![image](https://user-images.githubusercontent.com/374612/59721409-9ac9c000-9221-11e9-824b-9dc2f71f720b.png)

[2019-06-18 21:36] radinamatic commented on #48
Then we must be missing something else, will investigate! :+1:

[2019-06-18 21:49] benjaoming commented on #48
I've tried rebuilding the 0.11.x docs and nothing shows up. Also tried rebuilding 'latest'.

Something confuses me: I cannot find any settings where we configure which tags and branches are available?

[2019-06-18 21:51] benjaoming commented on #48
I simply cannot enable or disable branches nor git tags anymore.. something is broken.

[2019-06-19 19:10] indirectlylit commented on #48
do we need to install this extension? https://github.com/humitos/sphinx-version-warning

[2019-06-22 17:22] benjaoming commented on #48
@indirectlylit that's an extension which was created to address some short-comings of the universal, built-in RTD solution. The latter should be fine for us, and we won't have update all our branches to get the banner shown.. just gotta figure out why it's not showing :/

[2019-06-22 17:57] benjaoming commented on #48
So, the version warning is injected via the footer.

https://github.com/rtfd/readthedocs.org/blob/b67fbf7c9bae4cdf38d05bc93c251fd84352df4e/readthedocs/core/static-src/core/js/doc-embed/footer.js#L74-L79

Looking at the JSON data submitted: https://readthedocs.org/api/v2/footer_html/?callback=jQuery32107480097834923729_1561224561179&project=kolibri&version=release-v0.11.x&page=install&theme=sphinx_

[2019-06-22 18:37] benjaoming commented on #48
Okay, I traced where `is_highest` is defined: https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/api/v2/views/footer_views.py#L57

It seems like we could have issues in relation to our branch or tag names. But I can't quite grasp it. The RTD documentation doesn't give any hints about branch and version names: https://docs.readthedocs.io/en/latest/versions.html#how-we-envision-versions

[2019-06-23 02:34] radinamatic commented on #48
@benjaoming My interpretation of what I can see here is that the version warning banner is activated, and that it should display on any branch that is **not** ``latest``, that is **all but** ``release-v0.12.x``.

![Selection_120](https://user-images.githubusercontent.com/1457929/59970760-7eee5300-956e-11e9-8184-33ca19c4ad5d.png)

I see nothing in the settings that would point to ``release-v0.11.x`

[2019-06-23 15:22] benjaoming commented on #48
@radinamatic but that's what the data says that the 0.11.x branch is using:

Looking at the JSON data submitted: https://readthedocs.org/api/v2/footer_html/?callback=jQuery32107480097834923729_1561224561179&project=kolibri&version=release-v0.11.x&page=install&theme=sphinx_rtd_theme&format=jsonp&docroot=/docs/&source_suffix=.rst

[2019-06-24 17:05] indirectlylit commented on #48
`"is_highest":true` is in the response for all branches, not just v0.11.x.

[2019-06-24 18:54] benjaoming commented on #48
@indirectlylit yes, however take a look here:

https://docs.wagtail.io/en/v2.4/

And here:

https://readthedocs.org/api/v2/footer_html/?callback=jQuery321015518982107179713_1561402364929&project=wagtail&version=v2.4&page=index&theme=sphinx_rtd_theme&format=jsonp&docroot=/docs/&source_suffix=.rst&_=1561402364930

You can see that RTD has a different opinion about a tag named "v2.4", which makes me

[2019-06-24 19:04] radinamatic commented on #48
@benjaoming I believe tags can be added here:

https://readthedocs.org/dashboard/kolibri/version/release-v0.12.x/

[2019-06-24 19:05] radinamatic commented on #48
![Selection_122](https://user-images.githubusercontent.com/1457929/60044945-ccc89f80-96c3-11e9-88d0-8b6b41a12d27.png)

[2019-06-24 20:45] benjaoming commented on #48
@radinamatic I misunderstood the list, it's of course because we don't keep release tags in `kolibri-docs`. I'll add one in order to make a test.

On this page, it should appear as an inactive version.

https://readthedocs.org/projects/kolibri/versions/

[2019-06-25 18:54] indirectlylit opened #107 "update guidance on running kolibri.exe from command line"
Pending https://github.com/learningequality/kolibri-installer-windows/issues/102

Once `kolibri.exe` is available from the system path, we can simplify the instructions, removing references to `C:/PythonXY/Scripts`

[2019-06-25 19:11] radinamatic commented on #107
That will be a great addition, and so much help! :+1:

[2019-06-25 19:21] radinamatic commented on #104
@benjaoming Could you take this on and update the RPi tutorial?

[2019-06-25 20:19] radinamatic commented on #103
Fixed in #105, closing!

[2019-06-26 02:33] ivanistheone commented on #45
Wow @radinamatic this is a great initiative to use smaller pages rather than long scrollable ones!

Smaller pages and "permanent" URLs would make linking to the docs from forums, emails, other docs, etc super useful, in particular when using "deep links" that include the exact link anchor on the page, like #import-content-into-kolibri on the manage kolibri page, to sent users to read more details

[2019-06-26 19:14] #103 closed, assigned to nobody

[2019-06-26 19:16] indirectlylit commented on #45
A minor note: I find that the `.. include` directive increases friction for making occasional drive-by updates. It's easier when `.html` files map directly to their `.rst` source files.

[2019-07-01 13:37] benjaoming commented on #104
It's been in my TODO for a few weeks :sob:

[2019-07-01 13:55] benjaoming commented on #45
I'd also like to add the observation that I haven't seen this `.. include subsection.rst` pattern in other Sphinx projects.

[2019-07-01 19:43] radinamatic commented on #57
Fixed in #106, closing!

[2019-07-01 19:43] #57 closed, assigned to radinamatic

[2019-07-01 20:48] indirectlylit opened #108 "kolibri-server is not easily found in TOC"
The `kolibri-server` section is not easily found in the table of contents because of the deep nesting:

![image](https://user-images.githubusercontent.com/2367265/60465727-aa281080-9c06-11e9-864c-76fe34015a09.png)

https://kolibri.readthedocs.io/en/latest/install.html#kolibri-server-pre-release

Recommend making the heading one level higher, so it's a direct child of Debian/Ubuntu

[2019-07-01 21:52] radinamatic commented on #108
True, it's a legacy from the time when it was not yet officially released. Will amend asap! 👍

[2019-07-02 12:01] benjaoming commented on #108
Proposing also a renaming of the heading to something like "Classroom server". When we called the package `kolibri-server`, it was with an understanding that it would easily create confusion.

Of course, since it's still for Debian/Ubuntu, it's a great idea to keep it there.

[2019-07-02 19:44] indirectlylit commented on #108
Maybe call it "Server package"?

I really disagree with this: you can run Kolibri as a "classroom server" without the `kolibri-server` Debian package, and you can use the `kolibri-server` Debian package as something that's not in a classroom. The two ideas are independent.

Do you have a reference for this? As far as I can tell, all our conversations landed on `kolibri-server` being the least-obje

[2019-07-07 09:15] intelliant01 opened #110 "Error during installation"
Following the [documentation](https://kolibri.readthedocs.io/en/latest/install.html#kolibri-server-pre-release), I encountered this error while installing on Ubuntu 18.04 LTS -
[code]

As it says ```software-properties-common``` takes care of this package, hence installation instructions in the documentation may need change.

[2019-07-07 15:53] benjaoming commented on #110
Thanks for reporting this @intelliant01 :)

[2019-07-08 11:48] radinamatic commented on #110
Fixed in #109, closing!

[2019-07-08 11:48] #110 closed, assigned to nobody

[2019-07-10 23:44] cpauya commented on #107
https://github.com/learningequality/kolibri-installer-windows/issues/102 was already merged.

We can already work on this to be included in v0.12.6 😸

[2019-07-23 18:30] #108 closed, assigned to nobody

[2019-07-23 18:31] #100 closed, assigned to nobody

[2019-07-23 18:36] indirectlylit opened #115 "hardware requirements should be distinct for Windows and Linux"
Current [server requirements](https://kolibri.readthedocs.io/en/latest/install.html#servers):

@jredrejo notes that:

[2019-07-23 18:37] radinamatic commented on #115
Agreed, I'll add a note that Windows devices will need at least 2GB.

[2019-08-22 20:56] indirectlylit opened #126 "add information about running Kolibri in an NComputing environment"
we've had a couple instances now of people using [NComputing setups](https://www.ncomputing.com/products/vSpace/vSpace%20PRO) and running into problems.

ref: https://learningequality.slack.com/archives/C0LKF6TRD/p1566499868052700

from @jamalex

We should update the docs to give people this info

[2019-08-30 15:07] benjaoming commented on #48
@radinamatic @indirectlylit re-read my old and long comments, which were very useful to pick up on a longer line of inconclusive investigation :)

We can have warnings embedded if we start tagging documentation releases. RTD expects that tags follow software releases in a semantic way and thus prints the name of a branch or a tag:

![image](https://user-images.githubusercontent.com/374612/64027010

[2019-09-04 15:59] laurenlichtman opened #129 "Ensuring that users add "http://" when accessing the server"
It's not always clear to users in the documentation that "http://" must be included in the URL when accessing Kolibri via server. https://kolibri.readthedocs.io/en/latest/access.html#access-kolibri

We've also seen before where people assume it's "https" so this could be helpful for addressing that as well.

Suggestion to add a "tip" to the documentation.

[2019-09-04 16:35] indirectlylit commented on #48
Some quick notes:

1. As you said, it's important for us to be able to continue updating online docs after Kolibri releases
2. On the other hand, eventually we'll eventually begin bundling and distributing the docs with the Kolibri application. For that reason, the Kolibri application will need to be able to pin itself to a specific tagged version of the docs
4. I don't want to start deleting and

[2019-09-06 12:58] benjaoming commented on #48
Yes, I think that we can rely on RTD creating a properly comparable version string from a tag called `v1.2.3-abc123`. This was where they did the comparison: https://github.com/readthedocs/readthedocs.org/blob/98a7ff1758d829323e5ef9949f57401f7103ec4e/readthedocs/api/v2/views/footer_views.py#L57

I like your suggestion of dropping the patch version numbering from the documentation. We can offload r

[2019-09-06 12:58] benjaoming commented on #48
@radinamatic just wondering if you followed this and if it sounds okay?

[2019-09-06 13:06] benjaoming commented on #129
@laurenlichtman could you elaborate the type of wrong entries?

It's because it's hard to know which terms that browsers choose to redirect to Google searches. It may differ.

Entering a valid IP address (`1.2.3.4`) would usually be valid as a URL, hence not redirected as a Google search and adding the `http://` implicitly. Adding the port `1.2.3.4:5678` also works.

So interested in hearing about

[2019-09-06 13:18] laurenlichtman commented on #129
@lauradanforth experienced this issue with an older OS during training in Uganda where only the IP was entered without "http://" and the clients could not connect to the server.

[2019-09-06 14:06] benjaoming commented on #129
Thanks!

[2019-09-11 15:56] jredrejo commented on #129
Current browsers tend to use `https://` instead of `http://` as default, unless the port is entered. In our case this should not give any problem as the kolibri usually requires adding the :port . Maybe we should mention in the documentation that moving kolibri to port 80 will force the users to write always `http://` or the browser won't find the server.

[2019-09-11 16:15] benjaoming commented on #129
@jredrejo yeah, that could be quite confusing -- especially also thinking about the login page already suffering from "not safe" kind of warnings (because of missing SSL on a page with a `password` input field). I'm not sure if the automatic use of `https` is done through an automatic probe on a server's 443 port or not.

[2019-09-11 16:29] jredrejo commented on #129
@benjaoming yeah, so, thinking of solving this issue: we can't control what browsers set as default. I would say that the only possible solution on our side is adding a note to the docs saying that in case you use port 80 you must ensure to advice your users to type `http://`
what do you think?

[2019-09-11 18:22] benjaoming commented on #129
Yes, agreed, can you implement this?

I really liked your comment because it reminded us that we ALSO have to anticipate more issues given that the login form is non-SSL. Let's look into that separately and gather some screenshots of the behavior.

[2019-09-11 21:25] radinamatic commented on #126
Fixed in #128

[2019-09-11 21:25] #126 closed, assigned to nobody

[2019-09-16 14:57] benjaoming opened #133 "Improve pointers to adding Kiwix (in Raspberry Pi tutorial)"
The package name `kiwix-serve` has made people confused. It's currently not obtained as a Debian package (but Kiwix is planning to add it). The way to get it lacks some direct documentation, so the best that we can do is to link here:

https://www.kiwix.org/en/downloads/kiwix-serve/

https://community.learningequality.org/t/not-able-to-install-kiwix-with-kolibri-on-raspberry-pi-3b/1296/1

[2019-09-17 02:33] geoffrey1218 opened #134 "Resolve "more than one target found for cross-reference" warnings when building dev docs"
### Observed behavior
When building the developer documentation, the warning "more than one target found for cross-reference u'DateTimeTzField' : kolibri.core.serializers.DateTimeTzField, kolibri.core.fields.DateTimeTzField" appears for multiple files (see logs below, relevant section is directly after "writing output").

### Expected behavior
No "more than one target" warnings appear.

### User-f

[2019-09-17 02:33] #134 closed

[2019-10-10 02:31] vansia43 opened #135 "Update Troubleshooting Section in User Guide"
While analyzing the Hardware Guide, it was determined that Troubleshooting information should stay in the User Guide. The following suggestions come from the Hardware Guide project and could potentially be added to other troubleshooting tips in the User Guide. The suggestions need a content review from a subject matter expert.

**Possible Local Connection Issues**

- First, check if the server is

[2019-10-10 02:46] vansia43 opened #136 "Update Hardware Requirements Section in User Guide"
As a result of analysis done during the Hardware Guide project, it was determined that the Hardware Requirements section of the User Guide should be updated to mirror the information included in the Hardware Guide.

It was discussed that the minimum hardware requirements need to be in a structured in a tabular format to show that the requirements vary based on the size of the implementation.

[2019-10-10 03:05] vansia43 commented on #135
Some other, potential updates that came from some of the base materials/resources used to update the Hardware Guide:

- Do a hardware demo: This part would benefit from having a detailed script of steps to follow. What do I connect first? Where do I go to see Kolibri? What if I get an error?
- One possibility would be to provide "checks" after each step that everyone can confirm, e.g.,
 1. STEP: t

[2019-10-10 12:46] benjaoming commented on #135
Hi @vansia43 - these are great ideas. Do you want comments individually on each bullet?

I think in general, could be good to have a "Tips" section under Management or Advanced management to separate out the issues that relate to Troubleshooting vs. connection optimizations.

[2019-10-10 21:14] vansia43 commented on #135
@benjaoming  Got it. That makes a lot more sense and I think would fit in better with what is already in the existing Troubleshooting section. Yes, I would need someone to review the above bullets to make sure they are correct, so a comment for each one would be awesome, if that works for you!

[2019-10-10 22:04] benjaoming commented on #135
Awesome @vansia43 - I can definitely respond. Give me a day or two :)

[2019-10-17 01:16] vansia43 opened #137 "Raspberry Pi tip: Avoiding device overheating"
When auditing the Clearinghouse for Hardware Guide issues, I came across [this issue](https://github.com/learningequality/clearinghouse/issues/356) that was marked as something that should go in the Hardware Guide. Instead, this information could go in the Raspberry PI tutorial, at the bottom, under **Other tips**.

[2019-11-08 11:22] benjaoming opened #138 "Raspberry Pi tip: Use 2.4 GHz Wi-Fi and avoid USB 3"
Users saying to avoid connecting USB 3 devices because of Wi-Fi interference:

https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=245607
https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=254615

[2019-11-08 16:14] jredrejo commented on #138
This is not a Raspberry Pi problem, it's an universal problem in high-current interfaces if low quality devices are connected. It happens in usb 3.0, usb c, thunderbolt in a $2700 MacBook Pro, any plug at home with a mixer or a kitchen robot working....
The solution is not stop using USB 3.0, but using normal or high quality devices on it.

https://www.intel.es/content/www/es/es/products/docs/io/u

[2019-11-08 16:35] benjaoming commented on #138
Yup, agreed, I know that it's not a Raspberry Pi problem, have pointed that out in another response. The idea was to add the tip in the Raspberry Pi because the interference was raised as an issue by a Raspberry Pi user -- and because we have another issue for adding a Raspberry Pi tip :)

[2019-12-11 00:06] indirectlylit opened #140 "note from bug bash: firewalls will interfere with p2p import discovery"
It was observed that firewalls could cause:

* inability to be discovered by peers
* inability to discover other peers
* ability to be discovered, but not be available for import

[2019-12-11 00:10] radinamatic commented on #140
Good info, thanks, will be added as a warning note! 👍

[2019-12-13 01:40] #129 closed, assigned to nobody

[2019-12-14 15:27] benjaoming commented on #45
using the `.. include subsection.rst` also makes analytics harder, since we don't know very accurately which section people reads (anchor links do not register).

[2019-12-15 22:56] indirectlylit opened #144 "consider recommending --user flag for pip install"
currently for pip we simply say

[code]

In fact, more likely the user would want to do

[code]

or, in slightly more rare scenarios

[code]

[2019-12-16 04:21] indirectlylit opened #146 "explain CSV report export column header names"
from @jeepurs

[2019-12-19 17:35] #144 closed, assigned to nobody

[2019-12-20 03:04] radinamatic commented on #104
Fixed in #118

[2019-12-20 03:04] #104 closed, assigned to benjaoming

[2019-12-20 04:56] radinamatic commented on #107
Fixed in #116

[2019-12-20 04:56] #107 closed, assigned to nobody

[2019-12-20 04:57] radinamatic commented on #115
Fixed in #116

[2019-12-20 04:57] #115 closed, assigned to nobody

[2019-12-20 17:00] indirectlylit opened #148 "document any best practices related to upgrading and trying new versions and installation methods"
We've observed some issues related to trying new versions and installation methods. One example:  https://github.com/learningequality/kolibri/issues/6388

There are likely many other examples. Let's try brainstorm and document some best practices to avoid situations that we expect might cause issues.

[2019-12-20 17:05] indirectlylit opened #149 "when we document plugin enable/disable, ensure that PEX has special note"
In order to install and use externally-built plugins with PEX, the environment variable `PEX_INHERIT_PATH=1` must be set

[2019-12-20 21:49] #45 closed, assigned to nobody

[2019-12-20 21:49] #140 closed, assigned to nobody

[2019-12-20 21:49] #146 closed, assigned to nobody

[2020-01-20 13:04] benjaoming opened #153 "Troubleshooting: Malformed Database can also happen on other SQLite db files"
Pending a possibly automatic resolution of "malformed database" occurring for `~/.kolibri/job_storage.sqlite3` and `~/.kolibri/process_cache/cache.db`, we should perhaps expand our Troubleshooting section here:

https://kolibri.readthedocs.io/en/latest/manage/get_support.html#troubleshoot-database-issues

The resolution for the other files is to simply delete them entirely and start Kolibri again,

[2020-02-01 21:46] indirectlylit commented on #48
Bumping this issue because I [noticed someone in the forums](https://community.learningequality.org/t/kolibri-failed-to-start-additional-information-can-be-found/1394/5) linking to [docs from 0.7.x](https://kolibri.readthedocs.io/en/release-v0.7.x/manage.html).

@benjaoming perhaps this is something you can take the lead on?

[2020-02-02 09:20] benjaoming commented on #48
@indirectlylit - sure! I also know that Discourse has certain utility functions for cleaning up links and texts in posts, so this might also be an effective way of mitigating this issue.

[2020-02-02 20:49] indirectlylit commented on #48
I think the more fundamental problem is actually with how search engines handle versioning, and I'm a bit worried that in fact our banner will not be sufficient – though it's an excellent and necessary start.

The only reason people are posting old links is because that's what they're finding in google. For example, I just guessed at the search that user might have made, and indeed google returns

[2020-02-02 21:04] benjaoming commented on #48
Excellent - the docs for readthedocs are really good, and it doesn't seem complicated to develop a recipe for a robots.txt exclusion of old versions. Or perhaps all versions in general, such that only the `/latest` hierarchy is indexed.

We are one of the more progressive teams, so I'm not surprised to encounter issues first in our own domain :) But I take that the fact that RTD have this document

[2020-02-03 17:41] radinamatic commented on #148
@indirectlylit from the above learningequality/kolibri#6388 I'm not seeing what would be the appropriate recommendation to add to the docs for the upgrade section :thinking:

[2020-02-03 22:55] indirectlylit commented on #148
no, it's not clear to me either. At a minimum though, we can say "make sure to shut down Kolibri before upgrading"

[2020-02-08 10:14] benjaoming commented on #148
Can we safeguard some of this in the code, rather than through documentation?

[2020-02-13 02:06] radinamatic commented on #148
I've added warnings in the docs, but ideally yes, this should be implemented in the installer.
On Windows at least, the installer does stop the server before proceeding.

[2020-03-12 03:40] CloudArtAdmins commented on #48
Did realize there was something open for this.
Made a pull request for debian users.
#160

[2020-03-19 15:55] benjaoming commented on #48
@radinamatic a quick note -- since we spoke about this -- the issue seems to be the same: https://www.google.com/search?hl=en&q=kolibri%20docs%20change%20location

The robots.txt is in place as it should:
https://kolibri.readthedocs.io/robots.txt

Since 29 days have passed, I will try to add a "Disallow" pattern...

[2020-04-01 23:18] jeepurs opened #162 "Malformed DB guidance"
I was following the instructions provided here: https://kolibri.readthedocs.io/en/latest/manage/get_support.html#troubleshoot-database-issues

but wasn't successful as I was trying to fix a malformed db. Instead I got returned a fix db that was empty.

@rtibbles and @lyw07 helped me debug, ran this command instead:
`sqlite3 corrupted_db_name .recover | sqlite3 fixed.db`

`.recover` was introduced

[2020-04-02 10:08] benjaoming commented on #162
Thanks for the report @jeepurs

Was this because of a mistake in the docs that can be fixed? Do you remember how it happened? People aren't supposed to end up with empty databases for sure! :)

[2020-04-02 15:44] rtibbles commented on #162
@benjaoming I think it's just that our guidance only works for some classes of malformed DBs - the SQLite `.recover` command is much better at this as it will work past errors to recover as much data as possible.

[2020-04-02 16:01] radinamatic commented on #162
@rtibbles Should we forgo the previous steps in our docs and recommend only the use of the `recover` command?

[2020-04-02 16:01] benjaoming commented on #162
@radinamatic no, SQLite3 is in version 3.22 on Ubuntu 18.04

[2020-04-07 10:59] benjaoming opened #165 "Unify community forum references and move to include file"
We repeat variations of this a lot of times:

[code]

Especially in the troubleshooting section. Perhaps we can figure out a way to have it included as a nice little box that can be included here and there instead of repeating variations of the same texts.

[2020-04-08 19:50] #162 closed, assigned to nobody

[2020-04-24 18:54] benjaoming opened #171 "Record of URL changes"
[Community Forums](https://community.learningequality.org/) or rather **_Discourse_** has a function to find/replace text. This means that we can find/replace `kolibri.readthedocs.org/en/latest/something` with `kolibri.readthedocs.org/en/latest/something-else`

There doesn't seem to be an off-the-shelf automation for finding 404s on Discourse. So it would have to be a manual thing that's done once

[2020-04-24 19:35] radinamatic commented on #171
Good suggestion, I'll think about it for the 0.14 update! :+1:

[2020-05-10 19:36] benjaoming opened #175 "Ubuntu 14.04 (trusty) support clarified"
I don't know if this will be documented, but leaving it here for now:

* Trusty is end-of-life and we do not recommend using it
* Kolibri can run on Trusty but we do not know when the support will be discontinued, but it will
* An issue was fixed in 2018 that may prevent our packages from Buildkite from working: You have to run `apt upgrade` after installing Trusty to upgrade. This also requires `

[2020-05-23 12:43] benjaoming opened #176 "Expand uninstallation guide"
Uninstall steps, for instance for the Mac, could be improved by adding steps to remove user data. For instance:

https://kolibri.readthedocs.io/en/latest/install/macos.html#uninstall

Here is an example of a user that wants to start over in order to get the installation Wizard again: https://community.learningequality.org/t/support-in-creating-a-new-superadmin-account/1534

[2020-06-02 22:59] indirectlylit commented on #176
agreed.

Note we mention this in the Pex instructions, but it actually has a typo (`./kolibri` rather than `~/.kolibri`): https://kolibri.readthedocs.io/en/latest/install/python.html?highlight=home#uninstall-pex

[2020-06-23 15:24] jamalex opened #177 "Error in documentation of "exportusers" command"
### Observed behavior

[code]

### Expected behavior

Not needing the "-O" part of the arguments as per the docs:
https://kolibri.readthedocs.io/en/latest/manage/command_line.html?#export-users-to-a-csv-file

(Not sure whether we should change the docs or the command)

[2020-06-23 16:50] jredrejo commented on #177
I think we should remove this documentation and provide documentation for bulkexport because it makes much easier exporting users, change the classes enrolements and import them back.

[2020-06-23 18:02] radinamatic commented on #177
Not sure why am I unable to transfer this issue to the `kolibri-docs` repo...? :confused:

[2020-06-25 22:33] rtibbles opened #178 "Document the 'restricted network access' default when running Kolibri as an app"
When someone installs the Kolibri app, even if they previously had an older version of the app installed, then it will activate the 'restrict network access' default.

We should document this, and also document that they can toggle this off if desired in the device settings.

[2020-07-28 03:01] radinamatic commented on #23
Fixed in #78 & 81, closing!

[2020-07-28 03:01] #23 closed, assigned to radinamatic

[2020-07-28 03:15] radinamatic commented on #148
Closing for now, until we get the better picture of the documentation needs.

[2020-07-28 03:15] #148 closed, assigned to nobody

[2020-07-28 03:17] radinamatic commented on #153
Fixed in #157, closing.

[2020-07-28 03:17] #153 closed, assigned to nobody

[2020-07-30 22:51] indirectlylit opened #180 "discussion of firewalls in data syncing docs"
* firewalls need to be disabled for Kolibri to be found and to find peers
* after firewall is enabled, Kolibri must be restarted for broadcast to take effect

[2020-07-30 22:53] indirectlylit opened #181 "discussion of missing content in docs about data syncing"
We need some very prominent messaging describing how when syncing data between peers, devices _must_ have the same content. If they do not have the same content, coaches and learners will not be able to interact with lessons and quizzes correctly

[2020-08-01 00:00] radinamatic commented on #176
Fixed in #179, closing.

[2020-08-01 00:00] #176 closed, assigned to nobody

[2020-08-01 00:00] radinamatic commented on #177
Fixed in #179, closing.

[2020-08-01 00:00] #177 closed, assigned to nobody

[2020-08-01 00:00] radinamatic commented on #180
Fixed in #179, closing.

[2020-08-01 00:00] #180 closed, assigned to nobody

[2020-08-01 00:01] radinamatic commented on #181
Fixed in #179, closing.

[2020-08-01 00:01] #181 closed, assigned to nobody

[2021-05-11 18:27] nucleogenesis opened #219 "Update rst icons once Learning Activities icons are in KDS"
When https://github.com/learningequality/kolibri-design-system/issues/232 is completed, the `rstIconReplacements` file from KDS (https://github.com/learningequality/kolibri-design-system/blob/v0.2.x/docs/rstIconReplacements.txt) should be copy-pasted into the file of the same name in this repository.

[2021-05-11 21:28] nucleogenesis opened #220 "Document `deletechannel` command"
Add documentation [here](https://kolibri.readthedocs.io/en/latest/manage/command_line.html) for the `deletechannel` command to [avoid confusion like this](https://community.learningequality.org/t/kolibri-command-line/2018/2).

[2021-05-12 14:28] indirectlylit commented on #219
ref: https://design-system.learningequality.org/icons/#rst

[2021-06-29 22:00] sairina opened #227 "Add documentation for adding routes in Kolibri"
Should include the necessary steps including:
- adding to `constants.js`
- adding to `handlers.js` (if necessary)
- adding to the appropriate `route.js`

[2021-06-30 00:09] radinamatic commented on #227
@sairina This sounds like a dev docs issue/need, correct?
If that's the case, it should be opened in the `kolibri` repo, as this one is for end-user-facing documentation. 🙂

[2021-06-30 03:30] sairina commented on #227
Ahh. You're right, and that makes sense! All right, closing this and adding this one in the `kolibri` repo. Thanks for catching that!

[2021-06-30 03:30] #227 closed, assigned to nobody

[2021-06-30 15:23] indirectlylit commented on #227
FYI for future reference, Github has a 'Transfer issue' feature:

https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

[2021-08-19 17:06] radinamatic opened #229 "Document 'kolibri configure setup' cli command"
Ref: https://github.com/learningequality/kolibri/pull/8321

[2021-11-22 19:58] jredrejo opened #235 "Remove manual instructions on how to setup kolibri in RPi"
Current manual instructions are quite problematic as they require some sysops skills.
But, after 0.15 is released, they're not valid any more. I think removing them is the best option because
- if the user has the needed sys skills he will know how to do it, specially if we give instructions on using kolibri-server
- If the user does not have the needed skills, changes in the kolibri options will

[2021-12-06 14:23] indirectlylit opened #237 "update macOS compatibility"
mac OS compatibility is out-of-date, even for Kolibri 0.14:

![image](https://user-images.githubusercontent.com/2367265/144862750-65efe9ea-c583-43d7-a26d-4db4eba3692e.png)

I believe by now we've tested as high as macOS 12. We should also double-check that we're continuing to support those older versions and remove them if not.

[2021-12-08 16:05] jredrejo commented on #235
Closed in #236

[2021-12-08 16:05] #235 closed, assigned to jredrejo, radinamatic

[2022-08-31 16:59] jredrejo opened #241 "New installation method for Debian and Ubuntu"
For security reasons, beginning in Debian 12 and Ubuntu 22.04, `apt-key` will trigger a deprecation message. The current installation methods explained in the docs will be deprecated in the future.
The new method, valid both for Debian and Ubuntu is this one:
[code]

Docs at https://kolibri.readthedocs.io/en/latest/install/ubuntu-debian.html must reflect this change for these versions of Debian &